<h2>Busqueda</h2>
<hr>
<ul class="list-group d-flex justify-content-between flex-row flex-md-column gap-2">
    <!-- <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item cursor-pointer">
        Home Page
    </li>
    <li routerLink="about" routerLinkActive="active" class="list-group-item cursor-pointer">
        About Page
    </li>
    <li routerLink="contact" routerLinkActive="active" class="list-group-item cursor-pointer">
        Contact Page
    </li> -->
    <li routerLink="countries/by-capital" routerLinkActive="active" class="btn btn-outline-primary">
        Por capital
    </li>
    <li routerLink="countries/by-country" routerLinkActive="active" class="btn btn-outline-primary">
        Por país
    </li>
    <li routerLink="countries/by-region" routerLinkActive="active" class="btn btn-outline-primary">
        Por región
    </li>
</ul>