<div *ngIf="countries.length === 0; else table" class="alert alert-warning" role="alert">
    No hay continentes que mostrar
</div>

<ng-template #table>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Capital</th>
                    <th>Población</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let country of countries; let i = index" class="">
                    <td>{{i+1}}</td>
                    <td><img [src]="country.flags.svg" [alt]="country.name.common" width="150" height="100"></td>
                    <td>{{country.name.official}}</td>
                    <td>{{country.capital}}</td>
                    <td>{{country.population.toLocaleString()}}</td>
                    <td><a [routerLink]="['/countries/by', country.cca3]">Ver más</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>